@model GamingForum.Models.Topic

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<br />
@using (Html.BeginForm(actionName: "Edit", controllerName: "Topics"))
{ 

    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.HiddenFor(m => m.Id)

    @Html.Label("Title", "Titlu Topic")
    <br />
    if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
    {
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessage("Title", "", new { @class = "text-danger" })
    }

    <br /><br />
    @Html.Label("Content", "Continut Topic")
    <br />
    if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
    {
        @Html.Editor("Content", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessage("Content", "", new { @class = "text-danger" }) <br /><br />
    }

    <br />
    <br />
    if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin || ViewBag.esteModerator)
    {
        <label>Selectati Categoria:</label>
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
    }


    <br />
    <button class="btn btn-sm btn-success" type="submit"><i class="glyphicon glyphicon-check"></i> Modifica topic</button>
}


