@model GamingForum.Models.Topic

<br />
<br />
<div class="panel panel-heading">
    <a class="btn btn-info" href="/Topics/Index"><i class="glyphicon glyphicon-arrow-left"></i> Inapoi la topic-uri</a>
    @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
    {
    <a class="btn btn-info" href="/Topics/New"><i class="glyphicon glyphicon-plus"></i> Adauga un nou topic</a>
    }
        
</div>
<br />

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <script type="text/javascript">
        alert("@ViewBag.message");
    </script>
}
    <div class="panel panel-default">
        @Html.Partial("TopicInfo", Model)
        
        <div class="panel-footer">
            @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin||ViewBag.esteModerator)
            {
            <a class="btn btn-success pull-left"
               href="/Topics/Edit/@ViewBag.Topic.Id"><i class="glyphicon glyphicon-check"></i> Modifica topic-ul</a>
            }

            @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
            {
                using (Html.BeginForm(actionName: "Delete", controllerName: "Topics", method:
                    FormMethod.Post, routeValues: new { id = Model.Id }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit"><i class="glyphicon glyphicon-erase"></i> Sterge Topic</button>
                }
            }
            <div class="clearfix"></div>
        </div>
       


        <br />
        <p style="margin-left:10px;">  Comentarii:</p>
        @foreach (var comm in ViewBag.Topic.Comments)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div>
                            <p>@comm.Content</p>
                            <small class="pull-right">@comm.Date</small>
                        </div>
                        @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
                        {
                            <div style="display: inline-block; float : left; margin-right: 15px">
                                <a class="glyphicon glyphicon-pencil"
                                   href="/Comments/Edit/@comm.CommentId"></a>
                            </div>
                        }

                        @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
                        {
                            <div style="display: inline-block; float : left">
                                <form method="post" action="/Comments/Delete/@comm.CommentId">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="glyphicon glyphicon-trash" style="border: none;
background: transparent" type="submit"></button>
                                </form>
                            </div>
                        }

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <hr />
        }
        @if (ViewBag.afisareButoane == true || ViewBag.esteUser)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="panel">
                            <form method="post" action="/Comments/New">
                                <div class="panel-body">
                                    <input type="hidden" name="TopicId"
                                           value="@ViewBag.Topic.Id" />
                                    <label>Continut comentariu</label>
                                    <br />
                                    <textarea class="form-control" name="Content"></textarea>
                                    <br />

                                    <button class="btn btn-success " type="submit">
                                        <i class="glyphicon glyphicon-plus"></i> Adauga
                                        comentariu
                                    </button>
                                    

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        }
        </div>