
<div class="panel-heading">@Model.Title</div>
<div class="panel-body">
    <i class="glyphicon glyphicon-user"></i> <i>Topic scris de:</i> 
    <strong> @Model.User.UserName</strong>
    <br />
    Continut topic: <strong>@Model.Content</strong>
    <br />
    <span class="label label-success">@Model.Date</span>
    <br />
    <i class="glyphicon glyphicon-globe"></i> @Model.Category.CategoryName
</div>